@font-face {
  font-family: "proxima";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.svg#proxima") format("svg"); }

@font-face {
  font-family: "proxima";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.svg#proxima") format("svg"); }

*,
::before,
::after {
  box-sizing: border-box; }

:root {
  font-size: 16px; }

.page {
  font-family: 'proxima', Arial, Helvetica, sans-serif;
  min-width: 320px;
  max-width: 1920px;
  margin: 0;
  padding: 0;
  background-color: #2d1948;
  position: relative; }

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.list {
  margin: 0;
  padding: 0;
  list-style: none; }

.link {
  text-decoration: none; }

.img {
  max-width: 100%;
  height: auto;
  display: block; }

.btn {
  position: relative;
  padding: 15px 0;
  width: 180px;
  color: #fff;
  background-color: #f33c7a;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: 'proxima', Arial, Helvetica, sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  z-index: 1;
  overflow: hidden;
  transition: .3s ease-in; }
  .btn:hover {
    letter-spacing: 3px; }
  .btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.4), transparent);
    transform: skewX(45deg) translateX(-150%);
    transition: transform .3s ease-in; }
  .btn:hover::before {
    transform: skewX(45deg) translateX(200%); }

.wrapper-menu {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform .33s ease-out; }
  @media all and (max-width: 1024px) {
    .wrapper-menu {
      display: flex; } }

.wrapper-menu.open {
  transform: rotate(-45deg); }

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 3px; }

.line-menu.half {
  width: 50%; }

.line-menu.start {
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right; }

.open .line-menu.start {
  transform: rotate(-90deg) translateX(2px); }

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left; }

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px); }

.header-outer {
  background: url("../img/Banner_bg_light.png") no-repeat center/cover;
  padding-top: 60px;
  padding-bottom: 350px;
  overflow: hidden; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #705096;
  padding-bottom: 35px; }

.logo__link {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #e3d5ff;
  font-weight: bold; }

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 640px; }
  .nav-list__link {
    color: #e3d5ff;
    font-size: 0.875rem;
    text-transform: uppercase;
    position: relative; }
    .nav-list__link:hover::before {
      width: 50%; }
    .nav-list__link::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      transition: width .2s linear;
      width: 0;
      height: 1px;
      background-color: red; }
  @media all and (max-width: 1024px) {
    .nav-list {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #705096;
      height: 60vh;
      transform: translateX(105%);
      transition: transform .4s ease;
      width: 100%;
      padding: 20px 10px;
      flex-direction: column; }
      .nav-list-active {
        transform: translateX(0%);
        transition: transform .4s ease; } }
  @media all and (max-width: 1024px) {
    .nav-list__item {
      opacity: 0; } }

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
