@font-face {
  font-family: "proxima";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.svg#proxima") format("svg"); }

@font-face {
  font-family: "proxima";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.svg#proxima") format("svg"); }

*,
::before,
::after {
  box-sizing: border-box; }

:root {
  font-size: 16px; }

.page {
  font-family: 'proxima', Arial, Helvetica, sans-serif;
  min-width: 320px;
  max-width: 1920px;
  margin: 0;
  padding: 0 15px;
  background-color: #2d1948;
  position: relative; }

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; }

.list {
  margin: 0;
  padding: 0;
  list-style: none; }

.link {
  text-decoration: none; }

.img {
  max-width: 100%;
  height: auto;
  display: block; }
