.banner {

	@media all and (max-width: 1024px) {
		text-align: center;
	}

	&__title {
		@include font-size(70);
		text-transform: uppercase;
		color: #e3d5ff;
		max-width: 670px;
		line-height: 1.1;
		margin-top: 0;
		margin-bottom: 35px;

		@media all and (max-width: 1024px) {
			@include font-size(50);
			max-width: 100%;
		}

		@media all and (max-width: 425px) {
			@include font-size(35);
		}

		&--thin {
			font-weight: 300;
		}

		&--color {
			color: #f33c7a;
		}
	}

	&__description {
		@include font-size(18);
		color: #826ba9;
		margin-top: 0;
		margin-bottom: 50px;
		max-width: 490px;

		@media all and (max-width: 1024px) {
			max-width: 100%;
		}

		@media all and (max-width: 425px) {
			@include font-size(14);
		}
	}

	&__btn {
		@media all and (max-width: 425px) {
			@include font-size(14);
			width: 130px;
		}
	}
}


