.header-outer {
	background:url('../img/Banner_bg.png') no-repeat top 0px right 30%, 
						 url('../img/Banner_bg_light.png') no-repeat center/cover;
	padding-top: 60px;
	padding-bottom: 260px;
	overflow: hidden;
}
