.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 640px;
	
	&__link {
		color: #e3d5ff;
		@include font-size(14);
		text-transform: uppercase;
		position: relative;

		&:hover::before {
			width: 50%;
		}

		&::before {
			@include pseudo;
			bottom: -5px;
			left: 50%;
			transform: translateX(-50%);
			transition: width .2s linear;
			width: 0;
			height: 1px;
			background-color: red;
		}
	}

	@media all and (max-width: 1024px) {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #705096;
		height: 60vh;
		transform: translateX(105%);
		transition: transform .4s ease;
		width: 100%;
		padding: 20px 10px;
		flex-direction: column;

		&-active {
			transform: translateX(0%);
			transition: transform .4s ease;
		}
	}

	&__item {
		@media all and (max-width: 1024px) {
				opacity: 0;
		}
	}
}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);
		}
	}

